<h1>Event List</h1>
<ul>
<% @events.each do |event| %>
  <li>
    <%= link_to event.name, event_path(event) %>
    <%= link_to " (XML)", event_path(event, :format => :xml) %>
    <%= link_to " (JSON)", event_path(event, :format => :json) %>
    <%= link_to 'Show', event_path(event) %>
    <%= link_to 'Edit', edit_event_path(event) %>
    <%= link_to 'Delete', event_path(event), :method => :delete %>
  </li>
<% end %>
</ul>
<p>
<%= link_to 'New Event', new_event_path %>
</p>
<%= paginate @events %>