<h2><%= @event.name %>

<!-- 要確認是否已經有加入，則可以在user model新增一個一對多欄位，註記user join了哪些events -->
<% unless event_join? %>
  <%= link_to "Join", join_event_path(@event),:method => :post, :class => "btn btn-primary" %>
<% end %>

<% if event_join? %>
  <%= link_to "Withdraw", withdraw_event_path(@event), :method => :post, :class => "btn btn-danger" %>
<% end %></h2>

<h3><%= @event.status %></h3>

<% if @event.logo.exists? %>
  <%= image_tag(@event.logo.url(:medium)) %>
<% end %>

<% @event.groups.each do |g| %>
  <li><%= g.name %></li>
<% end %>
<!-- @event.groups那行不可以加上=做顯示，否則會將groups之資料dump在頁面上 -->

<p><%= @event.category.try(:name) %></p>
<!-- <p><%= @event.category_name %></p>
以上兩個方式皆為解決category若為nil時的處理方式，下面的方式要配合event model的delegate那行一起
 -->
<%= simple_format(@event.description) %>

<!-- simple_format為Rails設定會自動將換行符號換成<br> -->

<p><%= link_to 'Back to index', events_path %></p>