
<h2><%= @event.name %></h2>

<p><%= @event.category.try(:name) %></p>
<!-- <p><%= @event.category_name %></p>
以上兩個方式皆為解決category若為nil時的處理方式，下面的方式要配合event model的delegate那行一起
 -->
<%= simple_format(@event.description) %>

<!-- simple_format為Rails設定會自動將換行符號換成<br> -->

<p><%= link_to 'Back to index', events_path %></p>